* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  background: lightblue;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}
.wrapper {
  flex: 1;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding-bottom: 30px;
}
h2 {
  padding-top: 40px;
}
.audioPlayer {
  padding-top: 40px;
}
li:hover {
  background-color: #ddd;
}
ul {
  list-style-type: none;
  padding: 0;
}
footer {
  text-align: center;
  font-size: 0.9em;
  color: #666;
  padding: 5px;
  margin-top: 10px;
}
@media (max-width: 600px) {
  html, body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  li {
    font-size: 1em;
    padding: 8px;
  }

  .audioPlayer {
    width: 70%;
  }

}